@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500');


body {
	font-family: 'Montserrat', sans-serif;
	background-color: whitesmoke;
	margin: 0;
}

button {
	all: unset;
}

button:focus {
	outline: revert;
}

a {
	color: inherit;
	text-decoration: none;
}

/******* MENU ********/

nav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: calc(100% - 160px);
	margin: 20px 80px;
	color: rgb(255, 255, 255);
	mix-blend-mode: exclusion;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 2;
}

.socials {
	height: 25px;
	display: flex;
	gap: 4px;
}

#menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100vh;
	animation: backgroundFade .8s ease-in-out forwards;
	overflow: scroll;
}

#menu.hidden {
	display: none;
}

#menu-button {
	font-family: 'Montserrat', sans-serif;
	font-size: 12pt;
	border-radius: 20px;
	border: solid 1px white;
	padding: 2px 8px;
	cursor: pointer;
	z-index: 2;
}

#menu-button:hover {
	background-color: white;
	color: black;
	border-color: black;
}


@keyframes backgroundFade {

	0% {
		background-color: transparent;
	}

	100% {
		background-color: black;
	}
}

.grid-container {
	width: 100vw;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}

.grid-item {
	display: flex;
	flex-grow: 1;
	width: calc(100%/3);
	height: calc(100%/3.3);
	margin: 0;
	padding: 0;
	cursor: pointer;
	background-size: cover;
	background-position: center;
	position: relative;
	opacity: 0;
}


.grid-item:hover h4 {
	transition: .3s ease-in-out;
	transform: translateY(0);
	opacity: 1;
}

.grid-item h4 {
	position: absolute;
	font-weight: 400;
	font-size: 12pt;
	margin: 25px;
	color: white;
	text-align: right;
	bottom: 0;
	right: 0;
	opacity: 0;
	transition: .3s ease-in-out;
	border-radius: 20px;
	border: solid 1px;
	background-color: inherit;
	transform: translateY(10px);
	padding: 2px 8px;
}


/*CASCADE MENU*/

.grid-container li:nth-of-type(1) {
	animation-delay: 0ms;
}

.grid-container li:nth-of-type(2) {
	animation-delay: 75ms;
}

.grid-container li:nth-of-type(3) {
	animation-delay: 150ms;
}

.grid-container li:nth-of-type(4) {
	animation-delay: 225ms;
}

.grid-container li:nth-of-type(5) {
	animation-delay: 300ms;
}

.grid-container li:nth-of-type(6) {
	animation-delay: 375ms;
}

.grid-container li:nth-of-type(7) {
	animation-delay: 450ms;
}

.grid-container li:nth-of-type(8) {
	animation-delay: 525ms;
}

.grid-container li:nth-of-type(9) {
	animation-delay: 600ms;
}

.grid-container li:nth-of-type(10) {
	animation-delay: 675ms;
}

.grid-container li:nth-of-type(11) {
	animation-delay: 750ms;
}

.grid-container li:nth-of-type(12) {
	animation-delay: 825ms;
}

.grid-container li:nth-of-type(13) {
	animation-delay: 900ms;
}


@keyframes cascadeInSimple {

	10% {
		opacity: 0;
		transform: scale(0.9);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

/*
		Apply the animation to every list item
	*/
.grid-container li {
	animation: cascadeInSimple .3s ease-in-out forwards;
}

/******* SECTIONS ********/

#page-content .section img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
	object-position: center center;
}

#page-content .section .text {
	width: 50vw;
	max-width: 650px;
	position: absolute;
	margin-right: 80px;
	margin-bottom: 60px;
	bottom: 0;
	right: 0;
	text-align: right;
}

#page-content .section .center-content {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
}

#page-content .section .section-text {
	padding: 10vw;
	max-width: 800px;
}

#page-content #auto-height {
	height: auto !important;
}

#page-content #auto-height .text {
	position: relative;
	margin-bottom: 0;
	margin-left: auto;
}

#page-content #auto-height #box {
	padding: 70px 0 70px 0;
}

#page-content iframe {
	position: relative;
	margin: 0 auto 0 auto;
	top: 11%;
	right: 0;
	left: 0;
	display: block;
	width: 80%;
	height: 80%;
}


h1 {
	font-weight: 400;
	font-size: 30pt;
	line-height: 34pt;
	margin: 0;
	padding-top: 10px;
}

h3 {
	font-size: 16pt;
	font-weight: 300;
	line-height: 24pt;
	opacity: 0.7;
}

h2,
p {
	font-weight: 200;
	font-size: 12pt;
	margin: 0;
	letter-spacing: 1px;
}

p {
	font-weight: 100;
	margin-top: 20px;
}

a {
	color: inherit;
	text-decoration: underline;
}

/*******ABOUT********/

#about #contact {
	text-align: right;
	margin-top: 60px;
	margin-right: 80px;
	float: right;
	width: 100%;
}

#contact a:hover {
	color: lightskyblue;
}

#about .text {
	position: relative !important;
	float: right;
	margin-top: 5vh;
	width: auto !important;
}

h6 {
	font-weight: 400;
	font-size: 20pt;
	line-height: 32pt;
	margin: 0;
	padding-top: 10px;
	cursor: pointer;
}

h6 span::after {
	content: attr(data-initialText);
	color: rgb(87, 87, 87);
    background-color: rgb(215 215 215);
    padding: 2px 6px;
    border-radius: 4px;
}

h6 span:hover::after {
	content: attr(data-toggletext);
	color: rgba(220, 220, 220, 1);
	background-color: rgba(30, 30, 30, 1);
}

/*******FOOTER********/

h10 {
	padding-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-family: Avenir_Light, 'Helvetica Neue', sans-serif;
	font-size: 10pt;
	opacity: 0.2;
	font-weight: 300;
	letter-spacing: .3px;
}

footer {
	position: absolute;
	bottom: 0;
	padding-bottom: 25px;
	text-align: center;
	width: 100%;
}


/*MEDIA QUERIES*/
@media screen and (max-width: 800px) {

	#about #contact {
		margin-right: 40px;
	}

	nav{
		width: calc(100% - 80px);
		margin: 20px 40px;
	}

	#about .text {
		margin-right: 40px;
		width: 70vw !important;
	}

	#page-content .section .text {
		margin-right: 40px;
	}

	h1 {
		font-size: 22pt;
		line-height: 26pt;
		font-weight: 500;
	}

	h2,
	p {
		font-size: 10pt;
		font-weight: 300;
	}

	h6 {
		font-size: 16pt;
		line-height: 28pt;
		font-weight: 500;
	}

	.grid-item h4 {
		font-weight: 500;
	}

	h10 {
		font-size: 7pt;
	}

	#menu-button:after {
		font-size: 10pt;
		font-weight: 500;
	}

}


@media screen and (max-width: 600px) and (orientation:portrait) {

	.grid-item {
		width: 100%;
	}

	.grid-item h4 {
		opacity: 1;
	}

	#page-content .section .text {
		width: 70vw;
	}

}